.menü{
	
	text-align: center;
	width: 100%;
	position: fixed;
	background-color: white;
	opacity: 0.9;
	top: 0;
	
	
	
}
body{
	margin: 0 auto;
	padding: 0;
	font-family: Arial, sans-serif;
	/*
	background-image: url(images/Bc.jpg);
	background-attachment: fixed;
	*/
}	
.menü a {
	text-decoration: none;
	width: 13%;
	display: inline-block;
	font-family: Arial, sans-serif;
	color: black;
	transition: 0.8s;
	padding: 10px 0px;
	font-size: 17.6px;
	


}
.menü a:hover{
	color: #227a75;
	
}
.header{
	background-image: url(images/P.jpg);
	padding: 200px 0;
	margin-top: 40px;

}
h1{
	text-align: center;
	color: #227a75;
	font-size: 45px;
	text-shadow: #baffcd 4px -2px;

}
#a1 img{
	width: 28%;
	float: right;
}
#a1 p{
	font-size: 26px;
	text-align: justify;
}
#a1,#a2{
	padding: 10px;
	

}
hr{
	width: 71%;
	border: 4px solid #227a75;
	margin: 0;

}
h2{
	font-size: 28px;
	color: #227a75;
}
th,td{
	border: 2px black solid;
	width: 100px;
}
table{
	
	border-radius: 6px;
	width: 71%;
	margin-top: 26px;
	text-align: center;
	border: 2px solide black;
	display: block;
	border-collapse: collapse;

}

	

td{
	height: 40px;
}
#a2 img{
	float: right;
	width: 40%;
	

}
caption{
	font-size: 24px;
}
	

html{
	scroll-behavior: smooth;
}
.top{
	width: 35px;
	height: 35px;
	
	position: fixed;
	display: inline-block;
	top: 4px;
	left: 8px;
	z-index: 1111;

}
.top img{
	width: 100%;
	
}
h3{
	font-size: 28px;
	color: #227a75;
}


input{
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 4px;
	border-color: #227a75;

}
.HA{
	width: 81.68%;
	text-align: center;
	color: #227a75;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
h3,h2{
	padding: 10px;
}
iframe{
	
	padding: 5px;
}
.sport,.essen{
	width: 49%;
	display: inline-block;
}
#a4{
	text-align: center;
	padding: 20px 144px;

}
td a{
	text-decoration: none;
	color: steelblue;

}
td a:hover{
	cursor: pointer;
}
#a2 .click,#a1 .click{
	width: 30px;
	margin-top: 74px;
	right: 560px;
	position: absolute;
}
.Sportt{
	margin: 0 auto;
}
#Rk{
	text-align: center;
	margin: 0 auto;
	border: #227a75 6px solid;
	width: 80%;
	margin-bottom: 100px;
	padding-bottom: 30px;
}
select{
	padding: 5px;
	border-radius: 4px;
	border-color: #227a75;
}
button{
	padding: 5px;
	margin-top: 30px;
	
	border-radius: 4px;
	border-color: #227a75;
}
p{
	font-family: Comic Sans MS, Comic Sans, cursive, sans-serif;
}
.Erg{
	width: 100px;

}
@media(max-width: 640px){
	.menü a{
		width: 90%;
	}
	#a2 img{
		width: 90%;
	}
	td,th {
		height: 20px; 
		width: 30px;
	}
	td a{
		font-size: 11px;
	}
	table{
		width: 55%;
	}
	th{
		font-size: 12px;
	}
	iframe{
		width: 90%;
	}
	.sport,.essen{
		width: 100%;
	}
	#a4{
		padding: 5px;
	}
	#Rk .HA div{
		display: table;
	}
	button{
		position: relative;
		bottom: 5px;
		right: 160px;
		top: 30px;
	}
	.Diät{
		right: 250px;
		top: 90px;
		bottom: 5px;
	}
}